.Modes{
    display: flex;
    justify-content: center;

}

.text, .draw{
    margin: 10px;
    height: 3vh;
    width: 5vw;
    background: white;
    color: rgba(3, 150, 177,1);
    font-weight:bold;
}

.text:hover,.draw:hover{
    color: rgba(3, 150, 177,0.5);
    cursor: pointer;
}

.text:focus,.draw:focus{
outline: none;
}

.bradius{
    border-radius: 8px;
}
