.content{
    padding-left: 20vw;
}
textarea{
    width: 60vw;
    height: 20vh;

}

.addButton{
    background: rgba(1, 139, 165,1);
    width: 5vw;
    color: white;
    font-family: fantasy;
    

}
.addButton:hover{
    cursor: pointer;
    border: 1px solid blue;
}
